// @import "bootstrap/scss/bootstrap";
@import "primeflex/primeflex.scss";
:host{
    display: flex;
    flex-direction: column;
}
.first-line{
    display: flex;
    height: ($spacer * 3);
    // @extend .ps-3;
}
.second-line{
    display: flex;
    // height: ($spacer * 1.75);
    @extend .pl-3;
}
.title{
    @extend .text-sm;
}