// @import "bootstrap/scss/bootstrap";
@import "../style/item.scss";

:host{
    @extend .mb-3;
}
.left{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left > .text-block{
    flex: 1;
}

.h-box:hover .hostname{
    text-decoration: underline;
}

.hostname{
    color: var(--my-link);
    text-decoration: unset;
}

.h-box{
    display: flex;
    flex-direction: row;
    @extend .pb-2;
    cursor: pointer;
    text-decoration: unset;
    color: unset;
}
.v-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.note-box{
    textarea{
        width: 100%;
    }
}

img{
    width: 3em;
}