/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "bootstrap/scss/bootstrap-utilities.scss";

body{
    margin: 0px;
}

html, body {
    @extend .h-100;
}

:root{
    --my-gray: #f2f2f2;
    --my-dark-gray: #6c6c6c;
    --my-light-dark-gray: #c0c0c0;
}